table,th,td{
	border:3px solid black;
	border-collapse:collapse;
	text-align: center;
}
th{
	background-color:yellow;
	font-size:24px;
}
td{
	font-size:20px;
}

h1{
	Background-color:blue;
	text-align:center;
	font-size:50px;
	color:white;
}
#Button{
	margin-left:800px;
	font-size:20px;
	background:green;
	color:white;
}
